@model List<Contact>
@{
    ViewBag.Title = "My Contacts";
}

<h2>Contacts</h2>

<a asp-controller="Contact" asp-action="Add">Add New Contact</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model){
            <tr>
                <td>@contact.ContactName</td>
                <td>@contact.ContactPhone</td>
                <td>@contact.ContactAddress</td>
                <td>@contact.ContactNote</td>
                <td>
                    <a asp-controller="Contact" asp-action="Delete">Delete</a>
                </td>
            </tr>
         }
    </tbody>
</table>
